/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: #fff;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #fed10e;
}
a:hover {
  color: #fed10e;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}



.fa {
  text-decoration: none;
  font-size: 13px;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  z-index: 997;
  transition: all 0.5s ease;
  padding: 20px 0;
}
#header #logo h1 {
  color: #07a6f4;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}
#header #logo h1 a {
  color: #07a6f4;
  display: inline-block;
  text-decoration: none;
}
#header #logo h1 a span {
  color: #fed10e;
}
#header #logo img {
  padding: 0;
  margin: 0;
}
#header.header-scrolled {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #222;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #07a6f4;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #07a6f4;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*hero*/
#hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #d1e2e9;
    overflow: hidden;
}
 
#hero .row{
	padding-top: 200px;
} 

img {
    vertical-align: middle;
    border-style: none;
    margin-top: -75px;
    padding-bottom: 25px;
}

.img-fluid {
    max-width: 90%;
    height: auto;
}

.hero-content h2 {
    color: #545454;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-content h5 {
    color: #222;
    font-size: 20px;
    font-weight: lighter;
    display: block;
    line-height: 150%;

}

.btn {
    display: inline-block;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 3rem;
}


/*tentang*/
.about {
    margin-top: 75px;

}

.about h1 {
    text-align: center;
    margin-bottom: 20px;

}

.about h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}
.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
    

}
 /*layanan kami*/
 .service {
    margin-top: 100px;


}

.service h1 {
    text-align: center;
    margin-bottom: 20px;

}

.service h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}

/*card*/
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#get-started .feature-block {
 background: #fff none repeat scroll 0 0;
    margin-top: 30px;
    padding: 0100px 20px;
    transition: all 0.5s ease-in-out 0s;
}

#get-started .layanan-kami{
	margin-bottom: 100px;
}

#get-started .feature-block img {

  width: 60px;
}
@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}
#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(204,238,255,1);
  transition: all 0.5s ease-in-out 0s;
}
#get-started .feature-block h4 {
  margin-bottom: 20px;
}
#get-started .feature-block p {
  margin-bottom: 20px;
}
#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}
#get-started .feature-block a:hover {
  color: #07a6f4;
}

/*cara*/
.cara {
    margin-top: 100px;


}

.cara h1 {
    text-align: center;
    margin-bottom: 20px;

}

.cara h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 100px;
}

.bantuan {
    margin-top: 50px;
}
.bantuan-content{
    padding: 15px 15px 15px 15px;
}


.bantuan h1 {
    text-align: center;

}

.bantuan h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
}

.bantuan-content {
    text-align: center;
    padding: auto;
}

.card-bantuan {
    display: inline-block;
    width: 18%;
    text-align: center;
}


.card-bantuan h1 {
    font-size: 20px;
    font-weight: bold;
}

.card-bantuan h3 {
    font-size: 20px;
    font-weight: lighter;
}


.footer {
  background: #0d1b36;
  padding-top: 150px;
}
.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}
.footer .footer-logo p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}
.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}
.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}
.footer .copyrights {
  background: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}
.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}
.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #007bff;
}